.footer {
  color: var(--color-white);
  display: block;
  font-style: italic;
  text-align: center;
}


.footer-sitemap {
  display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  
  & li a {
    color: var(--color-white);
    text-decoration: underline;
  }
}