.c-home-news {
  @media screen and (max-width: 900px) {
    margin-top: 68px;
  }

  @media screen and (min-width: 901px) {
    display: flex;
      justify-content: flex-start;
    margin-top: 96px;
    max-width: 940px;
  }

  & li {
    padding: 10px 20px 10px 0;

    @media screen and (min-width: 901px) {
      width: calc(100% / 3);
    }
  }

  & li:not(:first-child) {
    
    @media screen and (max-width: 900px) {
      margin-top: 40px;
    }
    
    @media screen and (min-width: 901px) {
      border-left: 1px solid #000;
      padding-left: 20px;
    }
  }

}