.l-gallery {
  display: flex;
    flex-wrap: wrap;
    gap: 15px 16px;

  @media screen and (max-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media screen and (min-width: 321px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  &__item {
    @media screen and (max-width: 320px) {
      width: 100%;
    }
    @media screen and (min-width: 321px) {
      width: calc(50% - 16px);
    }
  }
}