.c-logo {
  
  & svg {
    fill: #000;

    @media screen and (max-width: 900px) {
      width: 80px;
      height: 20px;
    }

    @media screen and (min-width: 901px) {
      width: 100px;
      height: 25.6px;
    }
  }
}