.c-sec {
  padding: 15px;
}
.c-sec-title {
  font-size: 2rem;
}
.c-link-list {
  margin-top: 16px;
  & li {
    border: 1px solid #2359A1;
    border-radius: 10px;
    padding: 8px;
    margin-top: 8px;
    width: 100%;

    &:hover {
      background-color: #2359A1;

      & a {
        color: #fff;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    & a {
      color: #2359A1;
      display: block;
    }
  }
  
}