@use "@globals" as *;

.main-container {
  margin-top: $header-height-sp;
  width: 100%;

  &--centered {
    @include media('tb') {
      margin: $header-height-sp auto 0;
      max-width: 1100px;
    }
  }

  &--fullWidth {
    width: 100vw;
  }
}

