.c-number-list {
  font-size: 1.4rem;
  counter-reset: counter;

  & li {
    font-size: 1.4rem;
    padding-left: 1.5em;
    text-indent: -1.5em;
    
    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      counter-increment: counter 1;
      content: counter(counter) ".";
      margin-right: .5em;
    }
  }

}