.c-header {
  padding: 60px 0 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    padding-left: 10px;
  }

  @media screen and (min-width: 1025px) {
    max-width: 1000px;
  }
}