@use "@globals" as *;

.showcase-single {
}

.showcase-single-category-date {
  margin-top: get_px($space--xxs);
}

.showcase-single-category {
  display: flex;
    justify-content: flex-start;
    gap: .5em;
  margin-top: get_px($space--xxs);

  & li {
    border: 1px solid color(--c-primary);
    border-radius: 30px;
    box-sizing: border-box;
    color: color(--c-primary);
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 0 get_px($space--xxs);

    &:hover {
      background-color: #fff;
      color: color(--c-primary);
    }
  }
}
.showcase-single-detailbox {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: get_px($space--s);

  @include media('tb') {
    flex-direction: row;
    align-items: flex-start;
  }
}

.showcase-single-image {
  width: 100%;
  object-fit: cover;

  @include media('sp') {
    width: 30%;
    object-fit: contain;
  }
}

.showcase-single-details {
  width: 100%;

  @include media('tb') {
    width: calc(100% - 30% - get_px($space--s));
  }
}
.showcase-single-howto-container {
  margin-top: get_px($space--s);

}
.showcase-single-howto {
  font-size: 1.2rem;
  & pre {
    background: #ccc;
    padding: get_px($space--xs);
    white-space: pre-wrap;
  }
}

.showcase-single-item-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: get_px($space--xs);
}

.showcase-props-table {
  width: 100%;

  & tr {
    border-bottom: 1px solid color(--c-primary);
  }

  & th, & td {
    font-size: 1.3rem;
    padding: get_px($space--xxs);
  }

  & th {
    background-color: color(--c-primary);
    color: #fff;
  }

  & .subprops {
    font-size: 1.2rem;
    padding-left: 1em;
  }
}

.showcase-single-item-source-wrapper {
  margin-top: get_px($space--s);
}

.showcase-single-item-source {
  line-height: 1;
  
  & pre {
    background: #ccc;
    padding: get_px($space--xs);
  }

  & code {
    font-size: 1.2rem;
  }
}