@charset 'urt-8';
// font-size
$default_fz: 16;

$theme-colors: (
  primary: #333,
  secondary: #b70000,
  success: #2359A1,
  warning: #f8c11a,
  danger: #b70000,
  background: #e9e9e9,
  base: #f7f7f7,
);

// ================
// body min-width
// ================
$minWidth: 320px;

// ================
// view Size
// ================
$sp: '320px'; // for mobile
$tb: '521px'; // for tablet
$pc: '961px'; // for pc
$wd: '1441px'; // for wide display

// ================
// Break Points
// ================
$breakpoints: (
  'sp': 'screen and (min-width: #{$sp})',  // for mobile
  'tb': 'screen and (min-width: #{$tb})',  // for tablet
  'pc': 'screen and (min-width: #{$pc})',  // for pc
  'wd': 'screen and (min-width: #{$wd})', // for pc with wide display
) !default;