.l-section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 950px;

  @media screen and (min-width: 951px) {
    padding-left: 0;
    padding-right: 0;
  }

  &--pt-0 {
    padding-top: 0;
  }
  &--pt-80 {
    padding-top: 80px;
  }
  &--pt-100 {
    padding-top: 100px;
  }
}