.embla {
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: row;
    height: 35px;

    &--vertical {
      flex-direction: column;
    }
  }
  &__slide {
    flex: 0 0 100%;
    padding: 5px;
    min-width: 0;
  }
}

.carousel-item {
  display: flex;
    justify-content: flex-start;
    gap: 10px;
  padding: 5px;

}