@use "@globals" as *;

.title {

  &--h1 {}
  &--h2 {
    font-size: get-px($font--h2 * $font-sp-ration);
    @include media('tb') {
      font-size: get-px($font--h2);
    }
  }
  &--h3 {
    font-size: get-px($font--h3 * $font-sp-ration);
    @include media('tb') {
      font-size: get-px($font--h3);
    }
  }
  &--h4 {
    font-size: get-px($font--h4 * $font-sp-ration);
    @include media('tb') {
      font-size: get-px($font--h4);
    }
  }
  &--h5 {
    font-size: get-px($font--h5);
  }
  &--h6 {
    font-size: get-px($font--h6);
  }

}