.c-home-about-section {
  display: flex;
  margin-top: 60px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  @media screen and (min-width: 601px) {
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    gap: 30px;
  }

  &__image {
    display: block;

    & img {
      @media screen and (max-width: 600px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      @media screen and (min-width: 601px) {
        border-radius: 50%;
      }
    }
    
  }

  &__profile {
    @media screen and (max-width: 600px) {
      margin-top: 10px;
    }

    @media screen and (min-width: 601px) {
    }

    & h3 {
      font-size: 1rem;
      font-weight: 700;
    }
    
    & p {
      margin-top: 10px;
    }
  }
}
