@use "@globals" as g;

.sec {
  padding: 2vw;

  & h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @include g.media('md') {
    gap: 2vw;
  }
}
.article {
  border: 1px solid #999;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;

  @include g.media('md') {
    width: calc((100% / 2) - 2vw);
  }

  & h3 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  & time {
    font-size: 14px;
  }
  &__content {
    font-size: 1.6rem;
    margin: 10px auto 20px;

    & h1 {
      font-size: 1.8rem;
      font-weight: 700;
      border-bottom: 1px double #000;
      display: inline-block;
      margin: 20px 0 10px;
      padding-right: 1em;
    }

    & pre {
      background-color: #999;
      width: 100%;
      margin: .5rem auto;
      padding: .5rem;
      overflow-x: scroll;
    }

    & img {
      display: block;
      width: 90%;
      margin: 10px auto 15px;
    }
  }
  &__category {
    background-color: var(--color-primary);
    border-radius: 30px;
    color: var(--color-white);
    display: inline-block;
    padding: 0 5px;
  }
}