.c-hero {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 420px) {
    padding: 15px 10px 60px;
  }
  @media screen and (min-width: 421px) {
    padding: 15px 0 60px;
    max-width: 1000px;
  }

  & img {
    width: 100%;
  }

}