.l-footer {
  

  
}

.c-footer-contents-container {
  color: #fff;
  background: #333;
  
  @media screen and (max-width: 896px) {
    padding: 30px 0 60px;
  }

  @media screen and (min-width: 897px) {
    padding: 100px 0;
  }
}

.c-copyright {
  background: #fff;
  padding: 30px;

  & small {
    display: block;
    font-size: calc(12 / 14 * 1rem);
    text-align: center;
  }
}