.c-articles {
  display: flex;
    flex-wrap: wrap;
  margin-top: 60px;

  @media screen and (max-width: 375px) {
    row-gap: 30px;
  }

  @media screen and (min-width: 376px) {
    column-gap: 17px;
  }

  @media screen and (min-width: 951px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  &__item {

    @media screen and (max-width: 375px) {
      width: 100%;
    }

    @media screen and (min-width: 376px) {
      width: calc((100% - 34px) / 3);
    }

  }

}