.c-header {
  @media screen and (min-width: 901px) {
    display: flex;
      justify-content: space-between;
    width: 100%;
    height: 80px;
  }

  &__navigation-links {
    display: flex;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: 16px 25px 15px 16px;
    }

    @media screen and (min-width: 901px) {
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      padding: 27px 7%;
    }
  }

  &__contact-button-container {
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  
  &__navigation-container {
    @media screen and (max-width: 900px) {
      margin-top: 8px;
    }
  }
}