@use "@globals" as *;

.header {
  background-color: #fff;
  border-bottom: 1px solid color(--c-primary);
  opacity: .9;
  width: 100%;
  height: $header-height-sp;
  position: fixed;  
  top: 0;
  left: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;

  @include media ('tb') {
    padding-left: 0;
  }

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.scrolled {
    transform: translateY(0);
    opacity: .9;
  }
}

.header-container {
  padding: get_px($space--xs);
  text-align: center;
  height: 100%;
  position: relative;
}

.header-logo {
  margin: auto;
  width: auto;
  height: 100%;
  
  @include media('tb') {
    width: 500px;
  }

  & img {
    width: auto;
    height: 100%;
  }
}

.hamburger-navigation-container {
  position: absolute;
  top: 0;
  right: 0;
}