@use "@globals" as g;

.archive-box {
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @include g.media('pc') {
      gap: 2vw;
    }
  }
  &__item {
    width: 100%;

    @include g.media('tb') {
      width: calc((100% / 2) - 2vw);
    }
  
    @include g.media('pc') {
      width: calc((100% / 3) - 2vw);
    }
  }
}