.c-detail-sec {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 115px;

  @media screen and (max-width: 1024px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1025px) {
    max-width: 600px;
  }

  &__title {
    font-size: calc(18 / 16 * 1rem);
    font-weight: 700;
  }

}

.c-detail-container {
  margin-top: 10px;
  
  @media screen and (min-width: 1025px) {
    display: flex;
      justify-content: space-between;
      gap: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

.c-detail-img {

    @media screen and (min-width: 1025px) {
      width: 270px;
    }
  
  & img {
    width: 100%;
    height: auto;
  }

}

.c-detail-info {
  @media screen and (max-width: 1024px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 1025px) {
    width: calc((100% - 270px) - 1vw);
  }
  & h3 {
    font-size: calc(18 / 16 * 1rem);
  }
  & dl {
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    display: flex;
      flex-wrap: wrap;
      gap: 20px;
    margin-top: 20px;
    padding: 16px 0;

    & dt {
      width: 42px;
    }

    & dd {
      width: calc(100% - 62px);
    }
  }
  & p {
    padding: 20px 0 25px;
  }

  & a {
    position: relative;

    &::after {
      background-color: #333;
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
  
}