.c-recipes-container {

}

.c-recipe-list {

  @media screen and (min-width: 835px) {
    display: flex;
    flex-wrap: wrap;
  }

  & a {
    overflow: hidden;
    height: 500px;
    @media screen and (max-width: 834px) {
      display: block;
      width: 100%;
    }
  
    @media screen and (min-width: 835px) {
      width: calc(100% / 3);
    }

    &:hover {
      & img {
        transform: scale(1.1)
      }
    }

    & img {
      object-fit: cover;
      transition: transform .5s ease;
      width: 100%;
      height: 100%;
    }
  }
}

.c-button-link {
  
  text-align: center;

  & a {
    font-size: calc(14 / 16 * 1rem);
    text-align: center;
    border: 1px solid #2B2A27;
    display: inline-block;
    margin-top: 60px;
    padding: 18px 60px;
  }
}