@use "@globals" as g;

.mokuji {
  border: 1px solid var(--color-primary);
  width: 80%;
  margin: 30px auto;
  padding: 20px;

  @media screen and (min-width: 757px) {
    margin: 50px auto;
    padding: 40px;
  }
}

.mokuji__title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 15px;

  @include g.media('tb') {
    font-size: 2.8rem;
    margin-bottom: 30px;
  }

  & span {
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;

    &::after {
      background: var(--color-primary);
      content: '';
      display: block;
      width: 80%;
      height: 1px;
      margin: auto;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.mokuji__list {
  counter-reset: count subcount;
}

.mokuji__item {
  position: relative;
  color: var(--color-black);
  counter-reset: subcount;
  font-weight: 700;
  line-height: 1.6;
  text-indent: -1rem;
  margin-bottom: 15px;
  padding-left: 1rem;

  &::before {
    counter-increment: count;
    content: counter(count) ". ";
  }

  &:hover::before {
    color: var(--color-primary);
    text-decoration: underline;
    transition: .3s;
  }
  
  & a span {
    color: inherit;
  }

  &:hover a span {
    color: var(--color-primary);
    text-decoration: underline;
    transition: .3s;
  }

  &__type--h1 {
    text-decoration: underline;
  }
  &__type--h2 {
    text-decoration: underline;
  }
  &__type--h3 {
    text-decoration: underline;
  }
}


