@use 'sass:color';

// palettes
// ----------------------------------------------------------------------------
$black: #061a36;
$brand: #2359A1;

$theme-colors: (
  primary: $brand,
  font-primary: $black,
);

// CSS variables生成用のmixin
@mixin export-theme-colors() {
  @each $key, $color in $theme-colors {
    --c-#{"#{$key}"}: #{color.red($color)}, #{color.green($color)}, #{color.blue($color)};
  }
}

// カスタム関数で色を扱う
@function color($color_name, $alpha: 1) {
  @return rgba(var(#{$color_name}), $alpha);
}